@font-face {
  font-family : "Roya";
  src: url("fonts/IRRoya.eot");
  src: url("/fonts/IRRoya.ttf") format("truetype"),
  url("fonts/IRRoya.eot?#iefix") format("embedded-opentype"),
  url("fonts/IRRoya.woff") format("truetype");
}