@import "mixins";

$colors: (1: #f2f2f2, 2: #4BBFC3, 3: #7BAABE, 4: whitesmoke);

/* Sections */
@each $i, $color in $colors {
  #section#{$i} {
    background-color: $color;
  }
}

%content-size {
  width: 90vw;
  margin: 10px auto;
}

body {
  direction: rtl;
}

::before, ::after {
            box-sizing: border-box;
          }
/* Flex inside sections */
.content {
  @include flexing(flex, $justify: space-around);
  @extend %content-size;

}
.flex {
  @include flexitem(100px, 1);
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin: 1px;
}

h2 {
  text-align: center;
  @extend %content-size;
}

/* Nav menu */
#menu {
  position: fixed;
  z-index: 4;
  li {
    display: inline-block;
    color: #000;
    background: rgba(255,255,255,0.5);
    margin-left: 10px;
    a {
      text-decoration: none;
      color: #000;
    }
    &:first-child {
      margin-left: 0px;
    }
  }
  
}

/* Details popup */
.section {
  position: relative;
}
.details {
  height: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin: 1px;
  background-color: lavender;
  opacity: 0.8;
  transition: height 0.5s ease;
}
.opened {
  display: block;
  height: 80vw;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}