@import "mixins";
@import "fonts";

/* Variables */
$colors: (1: #666, 2: white, 3: white, 4: white);
$header-text-color: rgba(255,255,255,0.87);

/* Sections */
@each $i, $color in $colors {
  #section#{$i} {
    background-color: $color;
  }
}

%content-size {
  width: 90vw;
  margin: 10px auto;
}

body {
  direction: rtl;
  font-family: 'Roya', serif;
}

header {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 60px;
  background-color: #666;
}

*::before,
*::after {
  box-sizing: border-box;
}
/* Flex inside sections */
.content {
  @include flexing(flex, $justify: space-around);
  @extend %content-size;
}

.intro-content {
  @extend %content-size;
  @include flexing(flex, $row: column, $justify: space-around);
}

.flex {
  @include flexitem(auto, 1);
  border: 1px solid black;
  border-radius: 4px;
  margin: 1px;
}

.intro {
  text-align: left; 
  font-size: 1.9em;
  font-weight: 700;
  margin-right: 500px;
}

h2 {
  text-align: center;
  @extend %content-size;
}

a {
  outline: none;
}

.logo {
  padding: 5px 15px;
  z-index: 5;
  position: fixed;
  right: 10;
}
.logo-img {
  width: auto;
  transition: width 1s ease-in 0.1s;
  &.fixed {
    width: 250px;
  }
}

/* Nav menu */
#menu {
  float: left;
  width: auto;
  padding-left: 20px;
  margin: 0;
  height: 100%;
  li {
    display: inline-block;
    padding: 10px 10px 0;
    width: 130px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    transition: border-bottom 0.1s ease-in;
    &.active {
      border-bottom: 4px solid $header-text-color;
    }
    a {
      font-size: 1.4em;
      text-decoration: none;
      color: $header-text-color;
    }
    &:last-child {
      margin-left: 0px;
    }
  }
  
}

/* Details popup */
.section {
  position: relative;
}
.details {
  height: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin: 1px;
  background-color: lavender;
  opacity: 0.8;
  transition: height 0.5s ease;
}
.opened {
  display: block;
  height: 80vw;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}